
 <select name="choix" class="cate-dropdown hidden-xs">
                <option value="boutiques" selected>recherche boutique</option>
                <option value="produits">recherche produits</option>
              </select>
              