{% extends '::layout/layoutSuperAdmin.html.twig' %}

{% block body -%}
<div class="new_title center">
    <h1>modification de  Produit</h1>
</div>
    {{ form(edit_form) }}
  	<div class="bouton_button_return">
         <a href="{{ path('SuperAdminProduits') }}">
            Retour à la liste
        </a>
    </div> </br>

    <div>{{ form(delete_form) }}</div>

{% endblock %}
