<div class="login"><a title="Login" href="{{ path('fos_user_security_login') }}"><span  class="hidden-xs">S'identifier</span></a></div>
<div class="login"><a title="inscrire" href="{{ path('fos_user_registration_register') }}"><span  class="hidden-xs">S'inscrire</span></a></div>